<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <link href="/static/css/main.css" rel="stylesheet">
      <title>
        Тестирование
      </title>
    </head>
    <body>
      <div id="up">
        <h2>
          Приложение для тестирования функции
        </h2>
        Статус последней проверки:
      <b>{{ main_status }}</b>
      </div>
      <div class="container" id="index">
        <form method='post'>
          {% csrf_token %}
          <span><b>Введите данные: {{ input_error }}</b></span>
          <p><textarea rows="10" cols="45" name="text" placeholder='[{"a": 1, "b": 2}, ...]'></textarea></p>
          <p><button type="submit" name="save" value="save">Сохранить данные</button></p>
          <p><button type="submit" name="calc" value="calc">Обработать данные</button></p>
        </form>
      </div>
      <div id="table_div">
        <table cellspacing="0" cellpadding="1" border="1">
          <tr>
            Последние результаты
          </tr>
          <tr>
            <th>Set ID</th>
            <th>Values ID</th>
            <th>Last result</th>
          </tr>
          {% for set_values in values %}
          <tr>
              <td> {{ set_values.data_set.set_id }}</td>
              <td> {{ set_values.pk }}</td>
              <td> {{ set_values.result }}</td>
         </tr>
          {% endfor %}
        </table>
      </div>
      <div id="table_div">
        <table cellspacing="0" cellpadding="1" border="1">
          <tr>
            Исключения
          </tr>
          <tr>
            <th>Set ID</th>
            <th>Date</th>
            <th>Error</th>
          </tr>
          {% for err in exceptions %}
          <tr>
            <td>{{ err.data_set.set_id }} </td>
            <td>{{ err.err_date }} </td>
            <td>{{ err.err }} </td>
          </tr>
          {% endfor %}
          <!-- <tr>
            <th>Набор данных</th>
            <th>Ошибка</th>
            <th>Подробнее</th>
          </tr>
          <tr>
            <td>Ячейка 3</td>
            <td>Ячейка 4</td> -->
          </tr>
        </table>
      </div>
    </body>
</html>
